[submodule "fpga/OpenFPGA"]
	path = fpga/OpenFPGA
	url = https://github.com/lnis-uofu/OpenFPGA.git
[submodule "sta/OpenSTA"]
	path = sta/OpenSTA
	url = https://github.com/The-OpenROAD-Project/OpenSTA.git
