set_io dat_o[0] Bank_VR_1_5
set_io dat_o[1] Bank_VR_2_6
set_io dat_o[2] Bank_VR_1_9
set_io dat_o[3] Bank_VR_1_12
set_io dat_o[4] Bank_VR_2_3
set_io dat_o[5] Bank_VR_2_9
set_io dat_o[6] Bank_VR_4_8
set_io dat_o[7] Bank_VR_5_4
set_io ack_o Bank_VR_5_20
set_io int_o Bank_VR_5_19
set_io clk_i Bank_VR_4_20
set_io rst_i Bank_VR_2_1
set_io cyc_i Bank_VR_4_13
set_io stb_i Bank_VR_5_18
set_io adr_i[1] Bank_VR_4_11
set_io adr_i[2] Bank_VR_5_17
set_io we_i Bank_VR_2_8
set_io dat_i[0] Bank_VR_1_16
set_io dat_i[1] Bank_VR_5_9
set_io dat_i[2] Bank_VR_4_16
